header { 
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    margin-bottom: 10px;
}

aside.sideBlock {
    padding: .8rem;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside.middleBlock {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside i {
    margin: 0;
    padding: 0;
}

button.back {
    margin-top: 0; 
    background-color: transparent;
    border: 1px solid white;
    border-radius: .5rem;
    padding: 1.2rem;
}
button.red {
    margin-top: 0; 
    background-color: firebrick;
    font-size: 0.8em;
    border: 0;
    border-radius: .5rem;
    padding: 1rem;
}
.title {
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    font-size: 2rem;
    text-align: center;
    line-height: 25px;
}
.pink {
    background-color: #E348C3;
}
.lightpink {
    background-color: #ea76d2;
}
.purple {
    background-color:#A50DD8;
}
.lightpurple {
    background-color: #bb4ae2;
}
.blue {
    background-color: #0FA1F7;
}
.lightblue {
    background-color: #4bb9f9;
}
.orange {
    background-color: #f65600;
}
.lightorange {
    background-color: #f88040;
}
.mustard {
    background-color:#C39628;
}