footer {
    background-color:#28C349;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h6 {
    font-size: 0.9rem;
    font-family: 'Quicksand', sans-serif; 
    font-weight: normal; 
    text-align: center;
    margin: 3px; 
    color: white;
}