@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap');

.calcContainer {
    width: 100%;
<<<<<<< HEAD

=======
>>>>>>> bd531dc2776c35399dd62e17b6e2347f5d5a8bda
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
<<<<<<< HEAD
=======

>>>>>>> bd531dc2776c35399dd62e17b6e2347f5d5a8bda
.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.operatorSpace {
    display: inline-block;
    width: 50px;
    height: 100px;
    text-align: center;
    font-size: 4em;
}

.displayResults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
<<<<<<< HEAD
    background-color: #28C349;
=======
>>>>>>> bd531dc2776c35399dd62e17b6e2347f5d5a8bda
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    padding: 1px;
}

.endButton {
    display: fixed;
<<<<<<< HEAD
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    color: red;
    font-weight: bold;
    text-align: center;

=======
    background-color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
>>>>>>> bd531dc2776c35399dd62e17b6e2347f5d5a8bda
}

.showResults {
    text-align: center;
}



