@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister&display=swap');

.calcContainer {
    width: 100%;
    background-size: cover;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.operatorSpace {
    display: inline-block;
    width: 50px;
    height: 100px;
    text-align: center;
    font-size: 4em;
}

.displayResults {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    padding: 1px;
}

.endButton {
    display: fixed;
    background-color: red;
    border: 1px solid red;
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.showResults {
    text-align: center;
}



