@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.box {
    width: 10rem;
    height: 10rem;
    display: inline-block;
    background: transparent;
    border: .18rem solid white;
    border-radius: 5%;
    margin: .6rem;
    color: white;
    font-family: 'Quicksand', sans-serif;   
    font-size: 3.5em;
    padding: .9rem;
}

button.submit {
    background-color: #28C349;
    border: 1px solid #28C349;
    margin-top: 1.5rem;
    padding: .6rem;
    border-radius: 5px;
    color: white;
}

form.boxForm {
    position: relative;
    top: -12px;
    left: 0;
    width: 100%;
    height: 10rem;
}

input.number {
    height: 10rem;
    width: 100%;
    border: none;
    line-height: 1.5em;
    background: transparent;
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;   
    font-weight: bold;
    font-size: 1.75em;
}

.success {
    border-color: green;
    transform: scale(1.1);
    box-shadow: 0 0 1rem green;
}

.wrong {
    border-color: red;
    transform: scale(1.1);
    box-shadow: 0 0 1rem red;
}