header { 
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    flex-direction: row;
    flex-basis: auto;
}

aside.sideBlock {
    padding: .8rem;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

aside.middleBlock {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

aside i {
    font-size: 2rem;
}

.pink {
    background-color: #E348C3;
}
.lightpink {
    background-color: #ea76d2;
}
.purple {
    background-color:#A50DD8;
}
.lightpurple {
    background-color: #bb4ae2;
}
.blue {
    background-color: #0FA1F7;
}
.lightblue {
    background-color: #4bb9f9;
}
.orange {
    background-color: #f65600;
}
.lightorange {
    background-color: #f88040;
}
.mustard {
    background-color:#C39628;
}

.title {
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    text-align: center;
    font-size: 1rem;
}

button.back {
    margin-top: 0; 
    background-color: transparent;
}

@media screen and (min-width: 568px) {

button.red {
    margin-top: 0; 
    background-color: firebrick;
    font-size: 0.8em;
    border: 0;
    border-radius: .5rem;
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    line-height: 1.5em;
}

aside i {
    font-size: 3em;
} 
}