footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#28C349;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h6 {
    font-family: 'Quicksand', sans-serif; 
    font-weight: normal; 
    text-align: center;
    color: white;
    font-size: 0.7rem;
}

@media screen and (min-width: 568px) {

footer {
    height: 50px;
}

h6 {
    font-size: 0.9rem;
}
}