h1, a, p {
    color: white;
    font-size: 5.8vw;
    margin: 5px;
}

form.loginForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.menu h1, .menu p {
  font-family: 'Love Ya Like A Sister', cursive;
}

form.loginForm > input {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
}

.menu {
  display: flex;
  width: 80vw;
  flex-direction: column;
  text-align: center;
  height: inherit;
}

ul {
  overflow: hidden;
  transition: all 2s ease;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.folded {
  max-height: 0;
}

ul.unfolded {
  max-height: 300px; 
}

button.dropdownBtn {
  margin-top: 10px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1.6rem;
}

.dropdown a {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 568px) {

.menu {
  width: 50vw;
}

h1 {
  font-size: 2.5rem;
}
}