@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.box {
    flex-basis: 30%;
    background: transparent;
    border: 3px solid white;
    border-radius: 5%;
    margin: 10px;
    color: white;
    font-family: 'Quicksand', sans-serif;    
    font-size: 2em;
    text-align: center;
}

button {
    background-color: #28C349;
    border: 1px solid #28C349;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.basic {
    background-color: lightgray;
}

.wrong {
    
}

form {
    margin: auto;
    height: inherit;
}

input {
    border: none;
    border-bottom: 1px solid;
    background: transparent;
    text-align: center;
}